// Color Variables

// Primary color for main elements, e.g., buttons, links.
$primary-color: #0040e0;

// Secondary color for accents.
$secondary-color: #282B30;

// White color for text .
$white-color: #fff;

// Black color for backgrounds.
$black-color: #000;

// Background color for secondary elements.
$secondary-bg-color: #1F1F1F;

// Overlay color with transparency.
$overlay-color: #FFFFFF61;

// Border color for section dividers or outlines.
$section-border-color: #515151;
